# Flutter build artifacts
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/local.properties
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
